<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
<form>
  <input type="text" placeholder='Search universites' />
  <input  type="text" placeholder='Search countries' />
  <input id='button' type="SUBMIT" data-url='/univs'>
</form>
<div id="container">
</div>
</body>
</html>
